# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://koutdhusjsjdshxtknqu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvdXRkaHVzanNqZHNoeHRrbnF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMjg1MDAsImV4cCI6MjA5OTYwNDUwMH0.3WVOJurCjpuhJl9buEWAlngnYWpaJmmjfDueh37lbeo

# Admin Password
NEXT_PUBLIC_ADMIN_PASSWORD=Themisvanguard
